body {
    background-color: cornsilk;
}

p {
    color: black
    font-family: cursive;
}


h1 {
    color: cornsilk;
    text-align: center;
}

h3 {
    color: darkblue;
}

.container {
    background-color: cadetblue;
}

img {
    border-width: 5px;
    border-color: rebeccapurple
}
